<div class="mx-auto space-y-5 px-4 py-4 font-poppins sm:px-8 lg:container">
  <!-- mini title -->
  <div class="flex items-center justify-center">
    <h1 class="text-5xl font-semibold">Devtool Utilities</h1>
  </div>
  <!-- search element -->
  <div class="flex items-center justify-center">
    <div class="relative">
      <div class="absolute top-4 left-3">
        <i class="fa fa-search z-20 text-gray-400 hover:text-gray-500"></i>
      </div>
      <input
        style="width: 50vw;"
        type="text"
        class="z-0 h-14 w-96 rounded-lg pl-3 pr-20 focus:shadow focus:outline-none"
        placeholder="Search anything..." />
      <div class="absolute top-2 right-2">
        <button class="h-10 w-20 rounded-lg bg-primary-500 text-white hover:bg-primary-600">Search</button>
      </div>
    </div>
  </div>
</div>
