<!-- privacy-policy.component.html -->

<div class="bg-gray-900 font-poppins">
  <div class="mx-20 p-6 animate__animated animate__zoomIn">
    <h1 class="text-3xl font-bold text-teal-500 mb-4">
      DevStack Privacy Policy
    </h1>

    <p class="mb-4">Last updated: {{ lastUpdatedDate }}</p>

    <section class="mb-8">
      <h2 class="text-2xl font-bold text-teal-500 mb-4">1. Introduction</h2>
      <p>
        Welcome to DevStack Privacy Policy. This policy outlines our commitment
        to your privacy and explains how we collect, use, and safeguard your
        personal information.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-bold text-teal-500 mb-4">
        2. Information We Collect
      </h2>
      <p>
        We collect information that you voluntarily provide to us, such as your
        name, email address, and any other details you choose to share.
        Additionally, we may automatically collect certain information, such as
        IP addresses and usage data, to enhance our services.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-bold text-teal-500 mb-4">
        3. How We Use Your Information
      </h2>
      <p>
        We use the collected information to deliver, maintain, and improve our
        services. This includes personalized user experiences, communication,
        analytics, and, with your consent, marketing efforts.
      </p>
    </section>

    <!-- Add more sections as needed -->

    <section class="mb-8">
      <h2 class="text-2xl font-bold text-teal-500 mb-4">7. Contact Us</h2>
      <p>
        If you have any questions, concerns, or requests regarding our Privacy
        Policy, please contact us at
        <a href="mailto:contact@email.com" class="text-teal-500"
          >'contac&#64;email.com'</a
        >. We value your privacy, and your feedback is essential to our
        commitment to transparency and data protection.
      </p>
    </section>
  </div>
</div>
