<!-- <div class="flex h-16 items-center bg-base-100">
  <div
    class="flex w-full items-center justify-between px-7 text-[13px] font-medium"
  >
    <div>
      <span class="mr-2">{{ year }}©</span>
      <a
        href="https://github.com/luciano-work/angular-tailwind"
        target="_blank"
        class="font-normal "
      >
        Developer tools
      </a>
    </div>
    <ul class="flex">
      <li>
        <a
          href="https://github.com/luciano-work/angular-tailwind/issues"
          target="_blank"
          class="menu-link px-2"
        >
          Issues
        </a>
      </li>
      <li>
        <a
          href="https://github.com/luciano-work/angular-tailwind"
          target="_blank"
          class="menu-link px-2"
          >Sponsor</a
        >
      </li>
      <li>
        <a
          href="https://github.com/luciano-work/angular-tailwind"
          target="_blank"
          class="menu-link px-2"
          >Starred</a
        >
      </li>
    </ul>
  </div>
</div> -->

<div class="navbar bg-base-100">
  <div class="navbar-start space-x-4 ml-4">
    <a class="text-xs">
      <span >{{ year }}©</span></a
    >
    <a
      href="https://github.com/luciano-work/angular-tailwind"
      target="_blank"
      class="text-xs"
    >
      Developer tools
    </a>
  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1 text-xs hidden md:flex">
      <li><a>Issues</a></li>
      <li><a>Sponsor</a></li>
      <li><a>Starred</a></li>
    </ul>
  </div>
</div>
